@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Hello there and welcome! Just a little intro to get you started on our site.<br />
    You'll have a couple different options to customize this application to suit your needs:<br />
    <ol>
        <li>
            Store lists of favorites and options and the system can randomly choose options for you when you don't have the spoons
        </li>
        <li>
            Randomly generate new options with AI for things like restaurants, date activites, meal planning, etc.
        </li>
        <li>
            Generate a mix of the two, both stored options and randomly generated options and then allow either you to 
            choose from the mix or randomly choose for you
        </li>
        <li>
            Eventually this app will be able to also plan vacations for you including which hotel based on price range
            and activites to fill your days!
        </li>
    </ol>
    
    </p>
</div>

